@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap");
@import url("https://fonts.cdnfonts.com/css/dk-crayon-crumble");

:root {
  --orange: #ffa500;
  --pink: #ff678b;
  --black: #1d1c1c;
  --white: #fff;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "DK Crayon Crumble", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

html {
  background: #fffef4;
  font-size: 50%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

/* home */

.home {
  background: url(../images/bg/home.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home h1 {
  font-size: 12rem;
  line-height: 12rem;
  margin-bottom: 27rem;
  color: var(--pink);
}

.home h1 span {
  color: var(--orange);
  font-size: 8rem;
}

/* end */

/* actividades */

.wave.a {
  position: absolute;
  bottom: -2rem;
  width: 100%;
}

.wave.a svg {
  width: calc(100% + 1.3rem);
  height: 11rem;
}

.shape-fill {
  fill: var(--pink);
}

.actividades {
  background-color: var(--pink);
  position: relative;
}

.actividades-intro {
  text-align: center;
}

.actividades-intro h3 {
  font-size: 10rem;
  color: var(--orange);
}

.actividades-intro p {
  color: var(--white);
  font-size: 4rem;
  margin-bottom: 5rem;
}

.actividades .row {
  display: flex;
  justify-content: center;
  padding-bottom: 20rem;
}

.actividades .image {
  width: 50%;
}

.actividades .row-box {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 2rem;
}

.actividades .row-box .box {
  padding: 2rem;
  border-radius: 2rem;
  width: 18.5rem;
  height: 25rem;
}

.actividades .row-box .box h3 {
  text-align: center;
  font-size: 3rem;
  color: var(--black);
}

.actividades .row-box .box:hover {
  transform: scale(1.1);
}

.actividades .row-box .box:hover img {
  transform: scale(1.1);
}

.wave.b {
  position: absolute;
  transform: scaleY(-1);
  top: -1rem;
  width: 100%;
}

.wave.b svg {
  width: calc(100% + 1.3px);
  height: 12rem;
}

/* end */

/* dificultades */

.dificultades {
  position: relative;
}

.main-section {
  background: url(../images/bg/section.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.main-section h3 {
  margin-bottom: 15rem;
  font-size: 10rem;
  color: var(--pink);
}

.main-section h3 span {
  color: var(--orange);
}

/* Estilos para las Actividades */

.main-box {
  padding: 0rem 10%;
}

.main-box h3 {
  text-align: center;
  padding-top: 20rem;
  font-size: 10rem;
  line-height: 15rem;
  color: var(--orange);
}

.main-box p {
  text-align: center;
  font-size: 3.5rem;
}

.main-box .actividad-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.main-box .actividad-container .actividad-row {
  width: 50%;
}

.main-box .actividad-container .actividad {
  margin-top: 5rem;
}

.main-box .actividad-container .actividad h4 {
  font-size: 5rem;
  color: var(--pink);
  margin-bottom: 1rem;
}

.main-box .actividad-container .actividad p {
  font-size: 3rem;
}

.main-box .actividad-container .actividad-img {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  padding: 0rem 5%;
  width: 50%;
}

.main-box .actividad-container .actividad-img img {
  border-radius: 2rem;
  padding: 1rem;
  background: var(--orange);
}

.main-box .videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 5rem;
}

.main-box h4 {
  font-size: 7.5rem;
  color: var(--orange);
  margin-bottom: 3rem;
}

.main-box p {
  font-size: 3.5rem;
  margin-bottom: 6rem;
}

.main-box .videos .video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 5rem;
}

.main-box .videos .video {
  background: var(--orange);
  border-radius: 2rem;
}

.main-box .videos .video:last-chil {
  margin-left: 50%;
  margin-right: auto;
}

.main-box .video:hover {
  transform: scale(1.1);
}

.main-box .videos iframe {
  width: 50rem;
  height: 28rem;
  padding: 1rem;
  border-radius: 2rem;
}

/* end */

.wave.c {
  position: relative;
  bottom: -1rem;
  left: 0;
}

.wave.c svg {
  width: calc(100% + 1.3px);
  height: 7rem;
}

/* footer */

.footer {
  background: url(../images/bg/footer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 28vh;
  color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 15rem;
  padding-bottom: 15rem;
}

.footer h5 {
  font-size: 10rem;
}

/* end */

/* media query */

@media (max-width: 1500px) {
  html {
    font-size: 42%;
  }
}

@media (max-width: 1250px) {
  html {
    font-size: 35%;
  }

  .main-box .actividad-container {
    text-align: center;
  }

  .main-box .actividad-container .actividad-img {
    width: 60%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 30%;
  }

  .main-box .actividad-container {
    text-align: center;
  }

  .main-box .actividad-container .actividad-img {
    width: 60%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 29%;
  }

  .actividades .row {
    display: flex;
    justify-content: center;
  }

  .actividades .image {
    display: none;
  }

  .main-box .actividad-container {
    text-align: center;
  }

  .main-box .actividad-container .actividad-img {
    width: 80%;
  }
}
